@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: white;
  background-color: #d1d1d1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

p {
  font-family: "Poppins";
  font-size: 20px;
  padding: 20px;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 2px;
  font-size: 40px;
  font-weight: bold;
  background-color: #007ba7;
  /* font-family: "Rowdies"; */
}

h3 {
  font-family: "Poppins";
  font-size: x-large;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

/* HOME PAGE CONTENT */

.hero {
  height: 500px;
  /* margin: 20px 0; */
  border-radius: 0 60px 0 60px;
}

.hero-content {
  border: solid 2px red;
  justify-self: flex-start;
  margin-left: 100px;
}

.header {
  justify-self: left;
  margin-left: 150px;
}

.header-title {
  background-color: transparent;
}

.contact-form {
  height: 300px;
  width: 300px;
  border: solid 2px red;
  justify-self: right;
  margin-right: 100px;
  background-color: white;
}

.footer {
  height: 30px;
}

.footer-icon {
  height: 20px;
  align-items: center;
  display: flex;
  /* margin: 10px */
}
.infoBar {
  margin-top: 20px;
  height: 20px;
}

.infobar-icon {
  height: 20px;
}

.btn {
  height: 70px;
  margin-top: -20px;
}


#btn-1 {
  border-radius: 20px 0 0 0;
  border-top: solid 3px #d1d1d1;
  border-left: solid 3px #d1d1d1;
  border-bottom: solid 3px #d1d1d1;
  /* background-color: green; */
  /* width: 150px; */
}

#btn-2 {
  border-radius: none;
  border-top: solid 3px #d1d1d1;
  border-left: none;
  border-bottom: solid 3px #d1d1d1;
  border-right: none;
    /* background-color: green; */
      /* width: 150px; */
}

#btn-3 {
  border-radius: none;
  border-top: solid 3px #d1d1d1;
  border-left: none;
  border-bottom: solid 3px #d1d1d1;
  border-right: none;
    /* background-color: green; */
      /* width: 150px; */
}
#btn-4 {
  border-radius: none;
  border-top: solid 3px #d1d1d1;
  border-left: none;
  border-bottom: solid 3px #d1d1d1;
  border-right: none;
  /* background-color: green; */
  /* width: 150px; */
}

#btn-5 {
  border-radius: 0 0 20px 0;
  border-top: solid 3px #d1d1d1;
  border-left: none;
  border-bottom: solid 3px #d1d1d1;
  border-right: solid 3px #d1d1d1;
    /* background-color: green; */
      /* width: 150px; */
}


/* ABOUT PAGE CONTENT */

.about-image {
  height: 200px;
  padding: 10px;
  margin: 20px;
  margin-top: 40px;
}

.list-disc {
  /* flex: 1; */
  height: 150px;
  padding-left: 35px;
  padding-right: 20px;
  padding-top: 4px;
}

.card-body {
  /* display: flex; */
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding-right: 200px;
}

.cert-image {
  size: 20px;
}


.input {
  align-self: center;
  background-color: #f6ebdb;
  color: black
}

.worried {
  width: 200px;
  display: flex;
  justify-content: center;
}

.error {
  justify-content: start;
  font-size: x-large;
  margin-top: 50px;
}


.card {
  height: 500px
}

.carousel-item{
  height: 500px;
  width: fill;
  border-radius: 0 60px 0 60px;
}

.carousel {
  border-radius: 0 60px 0 60px;
}

.carousel-btns {
  margin-top: -20px;
}
 .title {
  z-index: 1;
  margin: 0;
  padding: 0;
  color: blue;
 }